html {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 2em;
  font-size: 1.25em;
  height: 100%;
  color: #fff;
}

header,
footer {
  background-color: #222;
  height: 80px;
  width: 100%;
}

main {
  background-color: #ccc;
  height: 250px;
  width: 100%;
}

header,
footer,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-1,
#div-2,
#div-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1.5em;
  font-size: 1.25em;
}

.wrapper span {
  font-family: 'Lora', sans-serif;
  font-size: 1.3em;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-items {
  color: #fff;
  line-height: 1.5em;
  font-size: 1.6em;
  background-color: #f16059;
  width: 30%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
